body{
    background-color: #222222;
    color: #dedede;
    margin: 2%;
}

header{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

h1, h3 {
    font-weight: 400;
}

* {
    box-sizing: border-box;
}


.block {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
}

.block2{
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
}


.box {
    background: #ff0060;
}

.wide {
    grid-column: 1 / 3;
}